[Unit]
Description=Ordivon heavy observability profile
Wants=netdata.service loki.service vector.service ordivon-grafana.service ordivon-tempo.service
After=netdata.service loki.service vector.service ordivon-grafana.service ordivon-tempo.service
